*
{
  margin: 0;
  padding: 0;

}
body
{display: flex;
justify-content: center;
align-items: center;
min-height: 100vh;

}
.gameboard
{
  width: 400px;
  height: 400px;
 
  
  
}
.gamerow
{
  display:flex;
  justify-content: space-evenly;
 

}
.squre
{


  height: 100px;
  border: 2px solid rgb(27, 21, 21);
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: center;
  border-radius: 10px;
  align-items: center;
 
}
h3 
{
  font-size: 50px;
  color: red;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  
}
h5 
{
  font-size: 30px;
  color: red;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
 
     margin-left: 130px;
     margin-top: -50px;
}